@use "utilities";
@use "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: variables.$clanRegular;
}
body{
  overflow-x: hidden;
}

.bg-primary-custom {
  background-color: variables.$purple;
}

.logo-placeholder {
  width: 100px;
  height: 40px;
  background-color: #ccc;
}

.search-box {
  width: 300px;
  max-width: 100%;
}

.navbar-dark .nav-link {
  color: white;

  &:hover {
    color: #ffc107;
  }
}

.btn-warning {
  border-radius: 5px;
  font-weight: bold;
}

.offcanvas-body .nav-link {
  color: #333;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.tc-nav-search {
  position: relative;

  img {
    position: absolute;
    top: 10px;
    left: 16px;
  }

  input {
    background-color: #443158;
    padding-left: 45px;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.2);

    &::placeholder {
      color: rgba(255, 255, 255, 0.53);
      font-family: variables.$clanThin;
    }
  }
}

.upper-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.lower-nav {
  .nav-link {
    font-family: variables.$clanMedium;
  }
}

.tc-header {
  background-image: url("../images/banner-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 80dvh;
  display: flex;
  align-items: end;
  position: relative;
}

.tc-header-content {
  padding-bottom: 70px;
}

.tc-header-socials {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
  padding-right: 70px;
  padding-top: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.header-social-wrapper {
  border: 1px solid white;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex
}

.tc-header-title {
  h1 {
    font-size: 75px;
    color: white;
    font-family: variables.$clanBold;
  }
}

.champ-title {
  color: variables.$yellow;
  font-family: variables.$clanBold;
}

.header-controls {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 20px;
}

.tc-control-wrapper {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  img {
    filter: brightness(100);
  }

  &:hover {
    background-color: white;

    img {
      filter: brightness(0);
    }
  }
}

.scroll-wrapper {
  overflow: hidden;
  background-color: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.scroll-track {
  display: flex;
  width: fit-content;
  animation: ticker 15s linear infinite;
}

.scroll-content {
  display: flex;
  width: fit-content;
}

.scroll-item {
  display: flex;
  align-items: center;
  margin-right: 50px;
  font-weight: bold;
  color: #32194b;
  white-space: nowrap;

  img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.live-matches-section, .twitter-feed-section {
  padding: 70px 0;
}

.section-title {
  display: flex;
  align-items: center;
  gap: 5px;

  h1 {
    font-size: 50px;
  }
}

.hollow-heading {
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1px variables.$purple;
  text-stroke: 1px variables.$purple;
}

.filled-heading {
  color: variables.$purple;
}

.live-matches-pill {
  background-color: variables.$lightGray;
  max-width: 450px;
  border-radius: 30px;
  border: 1px solid #D2D2D2;
  padding: 10px;
  justify-content: space-between;

  .nav-item {
    flex-grow: 1;
  }

  .nav-link.active {
    background-color: variables.$purple;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .nav-link {
    color: rgba(47, 26, 69, 0.38);
    width: 100%;
    border-radius: 20px;
    padding: 15px 0;
    font-size: 20px;
    font-family: variables.$clanBold;
  }
}

.glide__arrow {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glide__arrow--left {
  border: 1px solid variables.$maroon;
}

.glide__arrow--right {
  background-color: variables.$maroon;
  border: 1px solid variables.$maroon;
}

.live-card-container {
  border: 2px solid variables.$pink;
  border-radius: 13px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.3s ease-in-out;

  .live-card-body {
    background-image: url("../images/sports-card-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    min-height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    position: relative;

    /* Add overlay pseudo-element */
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      background: variables.$purple; /* Purple overlay color */
      transition: height 0.3s ease-in-out;
      z-index: 0;
      border-radius: 10px 10px 0 0;
      opacity: 0.7;
    }

    h6 {
      color: #2F1A45;
      font-family: variables.$clanBold;
      position: relative; /* Ensure text stays above overlay */
      z-index: 1;
    }

    .live-schedule {
      font-family: variables.$clanThin;
      color: #2F1A45;
      font-size: 10px;
      max-width: 160px;
      width: 100%;
      background-color: white;
      position: absolute;
      top: -2px;
      display: flex;
      align-items: normal;
      justify-content: center;
      padding: 3px 8px;
      gap: 5px;
      border-top: 2px solid #2F1A45;
      border-radius: 0 0 10px 10px;
      z-index: 1; /* Ensure schedule stays above overlay */
    }

    /* Ensure all content in card body stays above overlay */
    & > * {
      position: relative;
      z-index: 1;
    }
  }

  /* Hover effect */
  &:hover {
    .live-card-body::before {
      height: 100%; /* Expands overlay to full height on hover */
    }

    .live-card-body {
      h6 {
        color: white;
      }
    }
  }

  .vs-wrapper {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: variables.$failRed;
    font-weight: bold;
    position: relative; /* Ensure VS stays above overlay */
    z-index: 1;
  }

  .live-card-footer {
    font-weight: bold;
    color: #2F1A45;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
    background-color: white;

    .live-outlined-time {
      border: 1px solid variables.$pink;
      height: 42px;
      width: 37px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.live-ticket-option {
  text-align: center;
  position: relative;
  z-index: -1;
  transform: translateY(-60px);
  transition: 0.4s ease-in-out;
}

.live-card-hover-effect {
  &:hover {
    .live-card-container {
      transform: translateY(-10px);
    }

    .live-ticket-option {
      transform: translateY(40px);
    }
  }
}

.glide__slide {
  margin-bottom: 50px;
  margin-top: 20px;
}

.live-glide {
  .glide__arrow--left {
    left: unset;
    right: 50px;
    top: -60px;
  }

  .glide__arrow--right {
    top: -60px;
    right: 0;
  }
}

.sub-heading-title {
  color: variables.$orange;
  font-size: 12px;
  font-family: variables.$clanThin;
}

.news-top-header {
  & > *:nth-child(1) {
    flex: 1;
  }

  & > *:nth-child(2) {
    flex: 1;
  }

  h1 {
    font-size: 50px !important;
  }

  .desc {
    color: #6D5F7D;
    font-family: variables.$clanThin;
  }
}

.news-card-container {
  border: 1px solid #C0B8BE;
  border-radius: 10px;
  overflow: hidden;


  &:hover {
    .news-card-img img {
      transform: scale(1.5);
    }

    .news-card-body a {
      text-decoration: underline;
      transition: 0.4s ease-in-out;
    }
  }

  .news-card-img img {
    border-radius: 9px 9px 0 0;
    transition: 0.4s ease-in-out;
  }

  .news-card-img {
    overflow: hidden;

  }

  .news-card-btns {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

    .btn {
      border: 1px solid #001D29;
      border-radius: 20px;
      padding: 3px 13px;
      font-size: 14px;
    }
  }

  .news-card-body {
    padding: 20px;

    a {
      font-size: 25px;
      padding: 20px 0;
      display: inline-block;
      text-decoration: none;
      font-family: variables.$clanBlack;
      color: #001D29;

    }
  }
}

.rules-regulation-section {
  .rules-left-container {
    background-image: url("../images/rules-bg-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 428px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .section-title {
      gap: 13px;
    }

    .hollow-heading {
      -webkit-text-stroke: 1px white
    }

    .filled-heading {
      color: white;
    }
  }

  .rules-right-container {
    background-image: url("../images/rules-bg-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 428px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.know-more-button {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 3px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  max-width: 160px;
  max-height: 40px;
}

.know-more-button span {
  padding: 12px 20px;
  color: #2e124c;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
}

.know-more-button .icon {
  padding: 12px;
  color: #2e124c;
  font-size: 18px;
  border-left: 1px solid #2e124c;
  flex: 1;
  text-align: center;
}

.ranking-table-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.ranking-container {
  background-image: url("../images/summary-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100dvh;
  border-radius: 10px;
  padding: 50px 60px;


  .tab-pane {
    position: relative;
    bottom: 20px;
  }

  .nav-tabs .nav-link.active {
    background-color: #2F1A45;
    color: white;
  }

  .nav-tabs .nav-link {
    padding: 20px 25px 35px 25px;
    border-radius: 15px 15px 0 0;
    background-color: white;
    color: #143642;
    font-weight: bold;
  }

  .nav-tabs {
    border: 0;
  }

  .ranking-table {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    min-width: 800px; // Adjust based on your design
    width: 100%;
  }

  .ranking-header,
  .ranking-row {
    display: flex;
    flex-wrap: nowrap;
    padding: 0.75rem;
    border-bottom: 1px solid #dee2e6;
  }

  .ranking-body {
    padding: 20px;
    background-image: url("../images/tbl-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .ranking-row {
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .ranking-header {
    background: #F2F2F2;
    font-weight: bold;
  }

  .ranking-cell {
    flex: 1;
    min-width: 120px;
    padding: 20px;
    display: flex;
    align-items: center;
  }

  .position {
    font-size: 1.65rem;
    font-weight: lighter;
    color: #899AA0;
  }

  .team {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .success-badge {
    display: flex;
    gap: 5px;
    align-items: center;
    color: variables.$successGreen;
  }

  .fail-badge {
    display: flex;
    gap: 5px;
    align-items: center;
    color: variables.$failRed;
  }

  .status-icon {
    padding-bottom: 2px;
    width: 15px !important;
  }

  .capsule {
    background-color: #F4F1F3;
    padding: 4px 10px;
    border-radius: 30px;
    font-weight: bold;
  }

  .team img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  .badge-change {
    font-size: 0.8rem;
    padding: 0.25em 0.5em;
  }

  .result-badge {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 4px;
  }

  .result-badge.win {
    background-color: #20c997;
  }

  .result-badge.lose {
    background-color: #dc3545;
  }
}

.twitter-card-img {
  position: relative;
}

.twitter-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: white;
  bottom: 20px;
  left: 20px;
}

.twitter-card-container {
  &:hover {
    .twitter-card-body {
      a {
        text-decoration: underline;
      }
    }
  }
}

.twitter-card-body {
  a, span {
    font-family: variables.$clanBold;
  }

  a {
    color: black;
    text-decoration: none;
    display: inline-block;
  }


  .status {
    color: #899AA0;
    font-family: variables.$clanThin;
  }
}

.grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-item {
  position: relative;
  overflow: hidden;
}

.ratio-square {
  aspect-ratio: 1 / 1;
}

.ratio-rect {
  aspect-ratio: 16 / 9;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}

.view-all {
  color: #666;
  text-decoration: none;
  font-weight: 500;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;

  .inner-grid {
    display: grid;

    img {
      border-radius: 10px;
    }
  }

  .media-player {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: 0.3s ease;
    background-color: rgba(255, 255, 255, 0.4);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      max-width: 20px;
      height: unset;
    }
  }
}

.gallery-item {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
  aspect-ratio: 1/1;
}

.large-item {
  grid-column: span 1;
  aspect-ratio: 2/2;
}

.gallery-item:hover {
  transform: scale(1.02);

  .media-player {
    width: 65px;
    height: 65px;
  }

}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 2rem;
}

.media-section {
  .section-title {
    gap: 15px;
  }
}

footer {
  background-color: variables.$purple;

  .upper-footer-row {
    border-bottom: 1px solid #6D5F7D;
  }

  .tc-header-socials {
    position: static;
    flex-direction: row;
  }

  .nav-link, p {
    font-family: variables.$clanThin;
    padding-top: 5px;
  }

  .footer-left-content {
    padding: 40px 60px;
  }

  .footer-grid-container-1 {
    border-bottom: 1px solid #6D5F7D;
  }

  .footer-grid-sec-1 {
    border-left: 1px solid #6D5F7D;
  }

  .footer-grid-sec-2 {
    border-left: 1px solid #6D5F7D;
  }

  .footer-grid-sec-3 {
    border-left: 1px solid #6D5F7D;
  }

  .footer-grid-sec-4 {
    border-left: 1px solid #6D5F7D;
  }

  .footer-grid-sec-1, .footer-grid-sec-2, .footer-grid-sec-3, .footer-grid-sec-4 {
    padding: 40px;
  }

  .lower-footer-row {
    padding: 40px 0;

    .col-lg-2 {
      display: flex;
      align-items: end;
    }

    img {
      max-width: 100%;
    }
  }

  .copyright {
    background-color: variables.$maroon;
    padding: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.49);
  }
}

@import "media";
